*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000000;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.wrapper .loader{
    display: flex;
    justify-content: space-evenly;
    padding: 0 20px;
}
.loader .loading{
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color: #9e1616;
    margin: 10px;
    animation: load 0.8s ease infinite;
}
.loader .loading.one{
    animation-delay: 0.3s;
}
.loader .loading.two{
    animation-delay: 0.6s;
}
.loader .loading.three{
    animation-delay: 0.9s;
}
@keyframes load{
    0%{
        width: 30px;
        height: 30px;
    }
    50%{
        width: 20px;
        height: 20px;
    }
}